<form action="/delete" method="post">
    <div class="input">
        <input type="text" id="id" name="id" placeholder="User id">
    </div>
    </br>
    <button type="submit">Delete</button>
</form>